.slider-wrapper {
    height: 98vh;
    /*border: 1px solid limegreen;*/
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
}

.slider-slide {
    /*border: 2px solid red;*/
    margin-top: 4rem;
    /* make height fit parent, no scroll bar*/
    height: auto;
    width: 100vw;
    flex-shrink: 0;
    /*    To fit the all element*/
    background-position: center;
    background-size: cover;
    transition: all 750ms ease-in-out;
}

.slider-children-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-marketing-message{
    /*border: 3px solid saddlebrown;*/
    position: relative;
    margin-top: auto;
    width: 100%;
    background: #3e3e3e50;
    height: 100%;
    background: linear-gradient(1turn, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.01));
}

.slider-marketing-message .content{
    /*border: 3px solid #eaaa7b;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 10vw;
}

.content .mrk-title{
    font-size: 50px;
    font-weight: 400;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Festive', cursive;*/
    /*font-family: 'Carattere', cursive;*/
    /*font-family: 'Parisienne', cursive;*/
    font-family: 'Ephesis', cursive;
}

.content .mrk-message{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Noto Sans Display', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
}

.slider-slide-indicator {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.slider-slide-indicator .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2d2d2d;
    border: 1px solid #f5f5f5;
    opacity: .8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    cursor: pointer;
}
